* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    overflow-y: hidden;
}

.container {
    display: flex;
    max-width: 100% !important;
    gap: 30px;
    margin: 40px;

    .holistic-container {
        flex: 70%;
        height: 100%;
        align-items: center;

        .panel {
            width: 100%;
            text-align: center;

            #canvas {
                width: 100%;
                height: auto; /* Maintain aspect ratio */
            }
        }
    }

    .controls-container {
        flex: 30%;
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 20px;

        > div {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .control-button {
                width: 100%;
            }

            .configuration-buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}
